#stay {
	display:none;
	background-color: rgb(255, 187, 187);
	border-radius: 100vw;
}

#hit {
	display:none;
	background-color: rgb(250, 231, 125);
	border-radius: 100vw;
}

#hit:hover {
	transition: all 0.2s ease-out;
	background-color: rgb(236, 204, 58);
}

#stay:hover {
	transition: all 0.2s ease-out;
	background-color: rgb(255, 90, 90);
}

#hit:active {
	transition: all 0.02s ease-out;
	background-color: rgb(255, 250, 201);
}

#stay:active {
	transition: all 0.02s ease-out;
	background-color: rgb(255, 201, 201);
}